*{
    margin: 0;
    padding: 0;
    font-family: 'Poppings', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)), url(images/annie-spratt-qyAka7W5uMY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 200px;
    cursor: pointer;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: orange;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
}

.btn img{
    width: 20px;
    margin-right: 10px;
}

.content{
    margin-top:250px;
    color: #fff;
    max-width: 900px;

}

.content h1{
    font-size: 70px;
    font-weight: 400;
    line-height: 85px;
    margin-bottom: 25px;
    /* inline-size: 10px; */
    text-transform: capitalize;
   
}

.content form{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    width: 60%;
}

.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;

}

.content form .btn{
    font-size: 20px;
    padding: 10px 30px;
}

.content p{
    font-size: 30px;
}

.cta{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: orange;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}